.title {
    text-align: center;
    margin-top: 1rem;
}

h3{
    text-align: center;
}

.grid {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}

.card {
    margin: 1rem;
}

.video {
    width: 100%;
}

img {
    width: 100%;
}